<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sebi.androidappreactive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpenderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.SpenderService" />

        <activity android:name=".views.tags.TagListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MenuActivity" />
        </activity>
        <activity android:name=".views.tags.TagDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.tags.TagListActivity" />
        </activity>
        <activity android:name=".views.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.MenuActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.LoginActivity" />
        </activity>
        <activity
            android:name=".views.expenses.ExpenseMenuActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.MenuActivity" />
        </activity>
        <activity android:name=".views.expenses.AddExpenseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.expenses.ExpenseMenuActivity" />
        </activity>
        <activity android:name=".views.expenses.ListExpenseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.expenses.ExpenseMenuActivity" />
        </activity>
        <activity android:name=".views.expenses.ExpenseDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.expenses.ListExpenseActivity" />
        </activity>
        <activity android:name=".views.expenses.ExpenseChartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.expenses.ExpenseMenuActivity" />
        </activity>
    </application>

</manifest>